:root[data-bs-theme] {
  @import '@growi/core-styles/scss/bootstrap/init-stage-1';
  @import '@growi/core-styles/scss/bootstrap/theming/variables';
  @import '@growi/core-styles/scss/bootstrap/theming/utils/color-palette';

  $primary: #0F0;
  $highlight: #F00;
  $secondary: #f0f;

  @include generate-color-palette('primary', $primary, #0000FF, #FF0000, 12.5%, 12.5%);
  @include generate-color-palette('highlight', $highlight,#00FFFF, #FFFF00, 25%, 25%);

  $body-color: black;
  $body-bg: #F00;
  $body-secondary-color: rgba($body-color, .75);
  $body-secondary-bg: #F0F;
  $body-tertiary-color: rgba($body-color, .5);
  $body-tertiary-bg: #0FF;
  $border-color: var(--grw-highlight-200);
  $link-color: rgb(0 0 255 / 100%);

  @import 'bootstrap/scss/variables';
  @import 'bootstrap/scss/variables-dark';
  @import '@growi/core-styles/scss/bootstrap/init-stage-2';
  @import '@growi/core-styles/scss/bootstrap/theming/apply-light';

  --grw-sidebar-nav-btn-color: var(--grw-highlight-500);


  &, body {
    background: linear-gradient(to right, #f00, #ff0, #0f0, #0ff, #00f,#f0f,#f00)0 / 200%;
    animation: bggradient 12s linear infinite;
  }

  @keyframes bggradient{
    100% { background-position: 200%; }
  }
  h1, h2, h3, h4, h5 {
    color: #f00;
    animation:blink 1s step-end infinite alternate;
  }

  @keyframes blink{
    0% { opacity: 1; }
    40% { opacity: 0; }
    80% { opacity: 1; }
  }
}
